.cell
    display: flex
    justify-content: center
    align-items: center
    position: relative
    border: 1px solid #aaa
    width: 4.5rem
    aspect-ratio: 1
    font-size: .9rem
    border-radius: .2rem

    // Numéro de la case
    &_number
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        top: 0
        left: 50%
        transform: translate(-50%, -50%)
        width: 1.8rem
        aspect-ratio: 1
        border: 0px solid #aaa
        background-color: $COLOR_BG

    // Point d'interrogation pour les cases challenges
    &_challenge
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        bottom: 0px
        left: 50%
        transform: translate(-50%, 50%)
        width: 1.2rem
        aspect-ratio: 1
        background-color: $COLOR_BG
        border-radius: 50%

    &_visited
        position: absolute
        font-size: 1.2rem
        display: none
        z-index: -1

        &.visited
            display: block

    // Pion du joueur
    &_player
        display: flex
        justify-content: center
        align-items: center
        width: 1.5rem
        font-size: .8rem
        aspect-ratio: 1
        border-radius: 50%
        outline: .3rem solid lighten($COLOR_BG, 10%)
        color: $COLOR_BG
        font-weight: bold

        &._1            
            background-color: green
        &._2          
            background-color: orange
        &._3          
            background-color: dodgerblue
        &._4          
            background-color: red
        &._5          
            background-color: purple

        &._null
            display: none

    // Couleur du numéro de la case (theme)
    &.theorie
        border-color: #adadad
    &.economique
        border-color: #3fb64f
    &.publique
        border-color: #a1bbfc
    &.domestique
        border-color: #fb8b58