@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')
@import 'includes/_variables'
@import 'includes/_cell'

*
    box-sizing: border-box
    margin: 0
    padding: 0



html
    font-family: "Poppins"
    background-color: $COLOR_BG
    color: $COLOR_TEXT

.App 
    display: flex
    flex-direction: column
    width: 100vw
    height: 100vh
    font-family: 'Poppins'

header
    margin-bottom: 1.5rem
    padding: 1rem

main 
    display: flex
    gap: 2rem
    flex-grow: 1
    padding: 1rem

.board 
    display: grid
    grid-template-columns: repeat(11, 1fr)
    grid-auto-rows: 5.5rem
    width: fit-content
    gap: 1rem

.boardPanel
    display: flex
    flex-direction: column
    align-items: center
    gap: 1rem
    width: 65%

.questionPanel
    height: 100%
    width: 35%
    backdrop-filter: blur(5px)
    background-color: transparentize($COLOR_BG, .1)
    padding: 1rem
    border-radius: 1rem
    box-shadow: 0 0 50px 10px #000000

footer
    padding: 1rem

    .material-symbols-rounded
        font-size: 1rem
        vertical-align: middle
.answerForm
    &_answer
        margin-bottom: .5rem

button, input, select
    width: fit-content
    max-width: 20rem
    padding: 0.3rem 1rem
    font-family: "Poppins"

input[type="radio"], input[type="checkbox"]
    margin-right: 1rem

section.form
    padding-top: 1rem

.dice
    width: 4rem
    aspect-ratio: 1
    font-size: 1.5rem


.player
    width: 1rem
    aspect-ratio: 1
    background-color: #f00

li
    margin-bottom: 1rem

.hidden
    display: none